.ingredient {
  margin: 0.25em auto;
  border-radius: 10px;
}

.bread-top {
  width: 80%;
  height: 40px;
  background-color: #a95e3f;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bread-bottom {
  width: 80%;
  height: 25px;
  background-color: #a95e3f;
  border-radius: 5px;
}

.lettuce {
  width: 85%;
  height: 5px;
  background-color: #5fbc5f;
}

.tomato {
  width: 70%;
  height: 15px;
  background-color: #ff3d3d;
}

.bacon {
  width: 75%;
  height: 10px;
  background-color: #b11c1c;
}

.cheese {
  width: 85%;
  height: 10px;
  background-color: #ffbe00;
}

.meat {
  width: 80%;
  height: 20px;
  background-color: #5a1000;
}
